/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');
html {
    box-sizing: border-box;
    position: relative;
    -webkit-text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    
}

head {
    box-sizing: inherit;
    -webkit-text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 100%;
    position: relative;
}
body {
    box-sizing: inherit;
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-text-size-adjust: 100%;  
    position: relative;  
}

footer {
    box-sizing: inherit;
    -webkit-text-size-adjust: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    max-width: 100%;
    position: relative;
}

/* Iteration 1 | Mobile Screens (width < 768px) */

@media screen and (min-width: 0) and (max-width: 767px) {
/* NAVBAR */
nav {
background-color: #540b51;
display: flex;
flex-direction: row;    
}

#slack-logo {
    display: flex;
    justify-content: flex-start;
    width:30%;
    margin: 10px;
    padding: 10px;
    
}

nav ul {
display: none;

}

.container-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px;  
        background-color: #540b51;              
        color: white;
    }
nav img {
    justify-content: end;
}
/* header */
    header div {
        display: flex;
        flex-direction: column;
        color: white;
        background-color: #540b51;
        text-align: center;
        width: 100%
        
    }

    header img {
        width: auto;
    }

    header p {
        margin: 10px 10px 10px 18px;
    }

    header div button {
        display: flex;
        flex-direction: row;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        text-transform: uppercase;
        width: 90%;
        text-align: center;
        justify-content: center;
        padding: 19px 40px 20px;
              
    }
    
    header h1 {        
        margin-inline-start: 30px;
        margin-inline-end: 30px;
    }
    .sign-email {
        background-color: white;
        color:#540b51;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        padding: 16px;
        margin: 10px 10px 10px 18px;

    }
    .sign-google {
        display: flex;
        background-color: #4285F4;
        color:white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        text-align: center;
        align-items: center;
        padding: 16px;
        margin: 10px 10px 10px 18px;

    }

    .sign-google img {
        width: 20px;
        margin: 0px 20px 0px 0px;
        border-radius: 3px;
        display: flex;
        justify-content: left;
        background-color: white;
    }

    .yellow-text {
        color: #ECB12F;
    }

    .hero-product-ui {
        display: flex;
        width: 120%;
    }

/* MAIN */

.trusted-co {
    background-color:#F3EAE2;
    text-transform:uppercase;
    font-weight: bold;
    font-size: small;
    text-align: center;
    padding: 40px;
    margin: 0%;
}

.co-logos {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color:#F3EAE2;
    text-align: center;
    margin: 0%;
    width: 100%;
}

.co-logos img {
    flex: 1 0 1;
    min-width: 0px;
    max-width: 100%;
    height: auto;
}
.container-teams  {
    display: flex;
    flex-direction: column;
    text-align: center;    
}

.container-teams h3 {
    color: #540b51;
    background-color: white;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    padding: 5px;
}

.container-teams p {
    font-size: 20px;
}

.list-percentages {
    list-style: none;
}

.list-percentages p {
    font-weight: bold;
}
.container-percentages {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.actual-percentage {
    color: #540b51;
    font-size: 50px;
    font-weight: bold;
}

#weighted-average {
    color: grey;
}

#asterisc {
    color: black;
}

.Welcome-to-your-new-digital-hq {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #540b51;
    text-align: center;
    width: 100%
}

.try-for-free {
    background-color: white;
    color:#540b51;
    font-weight: bold;
    padding: 16px;
    margin: 10px 10px 10px 18px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    width: 90%;
    text-align: center;
    justify-content: center;
}

.talk-to-sales {
    background-color: #540b51;
    color: white;
    font-weight: bold;
    padding: 16px;
    margin: 10px 10px 10px 18px;
    border-color: white;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    width: 90%;
    text-align: center;
    justify-content: center;
}

.Welcome-to-your-new-digital-hq H1 {
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    
}

hr.divider {
    border-top: 1px #bbb;
    margin: 50px 10px;
  }

  /* FOOTER */

.footer-menu {
    list-style: none;
    font-weight: bold;
}

#status, #privacy, #terms, #cookie, #contact, #region, #download {
    padding-top: 10px;
}

.social-media-logos {
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}

#download {
    color: #2E71A6;
}

.legal-text {
    font-size: small;
    text-align: center;
    padding: 40px;
    margin: 0%;
}
}

/* Iteration 3 | Medium Screens (width > 1024px and width < 1440px) */
@media screen and (min-width: 1024px) and (max-width: 1440px) {

/* NAVBAR */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li, a {
    font-weight: 500;
    text-decoration: none;
}
nav div {
    background-color: #540b51;
    display: flex;
    justify-content: space-around;
    align-items: center;     
}
nav li a {
    color: white;
}
#slack-logo {
    display: flex;
    justify-content: flex-start;
    width:15%;
    margin: 10px;
    padding: 10px;
    
}

.Menu {
    list-style: none;
    text-decoration: none;
    color: white;
}

.Menu li {
    display: inline-block;
    padding: 0px 20px;
}

.icon-menu {
    display: none;
}

.signin-tryforfree li {
    display: inline-block;
    padding: 0px 20px;
}

#try-for-free {
    background-color: white;
    color: #540b51;
    padding: 15px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    
}
/* header */
    header div {
        display: flex;
        flex-direction: column;
        color: white;
        background-color: #540b51;
        text-align: center;
        width: 100%
        
    }

    header img {
        width: auto;
    }

    header p {
        margin: 10px 10px 10px 18px;
    }

    header div button {
        display: flex;
        flex-direction: row;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        text-transform: uppercase;
        width: 90%;
        text-align: center;
        justify-content: center;
        padding: 19px 40px 20px;
                
    }
    
    header h1 {        
        margin-inline-start: 30px;
        margin-inline-end: 30px;
    }
    .sign-email {
        background-color: white;
        color:#540b51;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        padding: 16px;
        margin: 10px 10px 10px 18px;

    }
    .sign-google {
        display: flex;
        background-color: #4285F4;
        color:white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        text-align: center;
        align-items: center;
        padding: 16px;
        margin: 10px 10px 10px 18px;

    }

    .sign-google img {
        width: 20px;
        margin: 0px 20px 0px 0px;
        border-radius: 3px;
        display: flex;
        justify-content: left;
        background-color: white;
    }

    .yellow-text {
        color: #ECB12F;
    }

    .hero-product-ui {
        display: flex;
        width: 120%;
    }

    /* MAIN */
    
    .trusted-co {
        background-color:#F3EAE2;
        text-transform:uppercase;
        font-weight: bold;
        font-size: small;
        text-align: center;
        padding: 40px;
        margin: 0%;
    }
    
    .co-logos {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background-color:#F3EAE2;
        text-align: center;
        margin: 0%;
        width: 100%;
        display: inline-block;
    }
    
    .container-teams  {
        display: flex;
        flex-direction: column;
        text-align: center;    
    }
    
    .container-teams h3 {
        color: #540b51;
        background-color: white;
        font-size: 60px;
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 2px;
        padding: 5px;
    }
    
    .container-teams p {
        font-size: 30px;
    }
    
    .list-percentages {
        list-style: none;
       
    }
    
    .list-percentages p {
        font-weight: bold;
        color: black;
    }
    .container-percentages {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        justify-content: center;
        margin: 10px;
        padding: 70px;
    }
    
    .actual-percentage {
        color: #540b51;
        font-size: 100px;
        font-weight: bold;
        padding: 20px;
    }
    .percen-sub {
        font-size: 20px;
        font-weight: bold;
        padding: 20px;
    }
    #weighted-average {
        display: none;
    }
    
    #asterisc {
        color: black;
    }
    .Welcome-to-your-new-digital-hq {
        color: white;
        background-color: #540b51;
        text-align: center;
        padding-top: 50px;
        font-size: 30px;
    }
    .button-welcome {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: white;
        background-color: #540b51;
        text-align: center;
        
        width: 50%;
        padding: 40px;
    }
    
    .try-for-free {
        background-color: white;
        color:#540b51;
        font-weight: bold;
        padding: 16px;
        margin: 10px 10px 10px 18px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        text-transform: uppercase;
        width: 90%;
        text-align: center;
        justify-content: center;
    }
    
    .talk-to-sales {
        background-color: #540b51;
        color: white;
        font-weight: bold;
        padding: 16px;
        margin: 10px 10px 10px 18px;
        border-color: white;
        cursor: pointer;
        border-radius: 4px;
        text-transform: uppercase;
        width: 90%;
        text-align: center;
        justify-content: center;
    }
    
    
    hr.divider {
        border-top: 1px #bbb;
        margin: 50px 10px;
      }
    
      /* FOOTER */
    footer {
        padding-left: 20px;
    }
    .footer-menu {
        display: inline-block;
        justify-content: space-between;
        text-align: center;
        list-style: none;
        font-weight: bold;
        display: flex;
        padding: 0px 50px;
        flex-direction: row;
        color: black;

    }
        
    .social-media-logos {
        display: flex;
        justify-content:flex-start;
        list-style: none;
    
    }

    .social-media-logos i {
        padding: 20px;
    }
    
    #download {
        color: #2E71A6;
    }
    #hr-2 {
        display: none;
    }
    
    .legal-text {
        font-size: small;
        text-align: left;
        padding-bottom: 50px;
     
    }
    }